.beetealogotop {
  width: 150px;
  height: auto;
}

.beetealogobottom {
  width: 94px;
  height: auto;
}

.custom-font {
  font-family: "Square Market", sans-serif;
  font-size: 14px;
}


.middleimg {
  height: 369px;
  width: auto;
}

.masthead {
  min-height:60vh;
  position: relative;
  background-size: cover;
}

.masthead .container {
  overflow: hidden;
}

.masthead h1 {
  color: black;
  position: relative;
  bottom: 1.25rem;
  max-width: 550px;
  padding-right: 1.5rem;
  font-family: "Square Market", sans-serif;
}

.btn.sharp {
  border-radius:0;
}











